DEFAULT fold
DEFAULT64 fold64
TIMEOUT 150
PROMPT 1
DISPLAY fold.txt

LABEL fold
	KERNEL kernel32
	APPEND initrd=initrd USER=notfred2630 TEAM=2630 BIG=yes SMPCPUS=4 BACKUP=15 REBOOT=enabled INSTALL=yes BENCHMARK=no BLANK=0 SAMBA=2 GROUP=DISKLESS PROXY_HOST= PROXY_PORT= PROXY_USER= PROXY_PASS= IP= MASK= GATEWAY= DNS= 

LABEL fold64
        KERNEL kernel64
        APPEND initrd=initrd USER=notfred2630 TEAM=2630 BIG=yes SMPCPUS=4 BACKUP=15 REBOOT=enabled INSTALL=yes BENCHMARK=no BLANK=0 SAMBA=2 GROUP=DISKLESS PROXY_HOST= PROXY_PORT= PROXY_USER= PROXY_PASS= IP=192.168.1.169 MASK=255.255.255.0 GATEWAY=192.168.1.254 DNS=206.191.0.140

LABEL benchmark
	KERNEL kernel32
	APPEND initrd=initrd USER=notfred2630 TEAM=2630 BIG=yes SMPCPUS=4 BACKUP=15 REBOOT=enabled INSTALL=yes BENCHMARK=yes BLANK=0 SAMBA=2 GROUP=DISKLESS PROXY_HOST= PROXY_PORT= PROXY_USER= PROXY_PASS= IP= MASK= GATEWAY= DNS= 

LABEL benchmark64
	KERNEL kernel64
	APPEND initrd=initrd USER=notfred2630 TEAM=2630 BIG=yes SMPCPUS=4 BACKUP=15 REBOOT=enabled INSTALL=yes BENCHMARK=yes BLANK=0 SAMBA=2 GROUP=DISKLESS PROXY_HOST= PROXY_PORT= PROXY_USER= PROXY_PASS= IP= MASK= GATEWAY= DNS= 

