/*.bz2
/*.gz
/*.xz
/boot
/busybox-*
/bzip2-*
/cdrkit-*
/diskless.zip
/diskless
/folding/folding.vmx
/folding_cd.iso
/gcc-*
/gcc_source
/glibc-*
/glibc_libs
/glibc_src
/glibc
/initrd_dir/bin/busybox
/initrd_dir/bin/encode
/initrd_dir/bin/genisoimage
/initrd_dir/bin/isVMWare
/initrd_dir/bin/isVPC
/initrd_dir/bin/mbr.bin
/initrd_dir/bin/nmbd
/initrd_dir/bin/queueinfo
/initrd_dir/bin/smbd
/initrd_dir/bin/syslinux
/initrd_dir/etc/folding/cgi-bin/fold.txt
/initrd_dir/etc/folding/cgi-bin/index.cgi
/initrd_dir/etc/folding/cgi-bin/isolinux.bin
/initrd_dir/etc/folding/cgi-bin/kernel
/initrd_dir/etc/manifest
/initrd_dir/lib/
/initrd_dir/lib64/
/kernel_patch
/kernel_firmware
/linux-*
/ntp-*
/samba-*
/samba_extract
/syslinux-*
/syslinux_src
/usb.zip
