*.bz2
*.gz
boot
busybox-*
bzip2-*
cdrkit-*
diskless.zip
diskless
folding_cd.iso
gcc-*
gcc_source
glibc-*
glibc_32libs
glibc_64libs
glibc_src
initrd_dir/bin/busybox
initrd_dir/bin/encode
initrd_dir/bin/genisoimage
initrd_dir/bin/isVMWare
initrd_dir/bin/isVPC
initrd_dir/bin/mbr.bin
initrd_dir/bin/nmbd
initrd_dir/bin/ntpd
initrd_dir/bin/queueinfo
initrd_dir/bin/smbd
initrd_dir/bin/syslinux
initrd_dir/etc/folding/cgi-bin/fold.txt
initrd_dir/etc/folding/cgi-bin/index.cgi
initrd_dir/etc/folding/cgi-bin/isolinux.bin
initrd_dir/etc/folding/cgi-bin/kernel32
initrd_dir/etc/folding/cgi-bin/kernel64
initrd_dir/etc/manifest
initrd_dir/lib/
initrd_dir/lib64/
kernel_patch
linux-*
ntp-*
samba-*
samba_extract
syslinux-*
syslinux_src
usb.zip
